<div class="f-form__wrapper">
  <h1>Formulario de {{ !update ? "Registro" : " Edición" }}</h1>
  <hr width="98%" />

  <form #prodForm="ngForm" class="f-form__body">
    <div class="f-form__control">
      <label>ID</label>
      <input
        type="text"
        minlength="3"
        maxlength="10"
        autocomplete="off"
        class="f-generic-input"
        [ngClass]="{ 'f-generic-input--invalid': idExists }"
        [(ngModel)]="product.id"
        (change)="verifyId()"
        name="id"
        #id="ngModel"
        [disabled]="update"
        required
      />

      <span
        *ngIf="(id.touched && id.invalid) || idExists"
        class="f-form__input-error"
      >
        {{ idExists ? "ID existente!" : "ID no válido!" }}
      </span>
    </div>

    <div class="f-form__control">
      <label>Nombre</label>
      <input
        type="text"
        minlength="5"
        maxlength="100"
        autocomplete="off"
        class="f-generic-input"
        [(ngModel)]="product.name"
        name="name"
        #name="ngModel"
        required
      />

      <span *ngIf="name.touched && name.invalid" class="f-form__input-error">
        Nombre no válido!
      </span>
    </div>

    <div class="f-form__control">
      <label>Descripción</label>
      <input
        type="text"
        minlength="10"
        maxlength="200"
        autocomplete="off"
        class="f-generic-input"
        [(ngModel)]="product.description"
        name="description"
        #description="ngModel"
        required
      />

      <span
        *ngIf="description.touched && description.invalid"
        class="f-form__input-error"
      >
        Descripción no válida!
      </span>
    </div>

    <div class="f-form__control">
      <label>Logo</label>
      <input
        type="text"
        autocomplete="off"
        class="f-generic-input"
        [(ngModel)]="product.logo"
        name="logo"
        #logo="ngModel"
        required
      />

      <span *ngIf="logo.touched && logo.invalid" class="f-form__input-error">
        Logo no válido!
      </span>
    </div>

    <div class="f-form__control">
      <label>Fecha Liberación</label>
      <input
        type="date"
        [min]="minDate"
        autocomplete="off"
        class="f-generic-input"
        [(ngModel)]="product.releaseDate"
        name="releaseDate"
        required
        #releaseDate="ngModel"
        (change)="setRevisionDate()"
      />

      <span
        *ngIf="releaseDate.touched && releaseDate.invalid"
        class="f-form__input-error"
      >
        Fecha Liberación no válida!
      </span>
    </div>

    <div class="f-form__control">
      <label>Fecha Revisión</label>
      <input
        type="date"
        class="f-generic-input"
        [(ngModel)]="product.revisionDate"
        name="revisionDate"
        required
        disabled
      />
    </div>
  </form>

  <div class="f-form__button-group">
    <button class="f-brand-btn f-brand-btn--secondary" (click)="resetForm()">
      Reiniciar
    </button>
    <button
      class="f-brand-btn"
      [disabled]="prodForm.invalid || idExists"
      (click)="sendProduct()"
    >
      <div m-icon [iconName]="'check.svg'"></div>
      Enviar
    </button>
  </div>
</div>
