$brand-background-color: #f2cf5c;
$brand-color: #000090;
$brand-color-secondary: #ffcc55;
$generic-font-color: #525252;
$brand-background-color-sec: #ebecff;
$generic-border-color: #abb6be;
$generic-background-color: #f5f5f5;
$generic-shadow-color: rgba(143, 143, 143, 1);
$success-color: #42a948;
$success-background-color: #c6e5c8;
$error-color: #a94442;
$error-background-color: #dcb4b3;

$generic-font-family: Verdana, Geneva, Tahoma, sans-serif;

//Viewport size Breakpoints:
$sm: 567px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
