$m-navbar-height: 70px;
$m-navbar-height-md: 90px;
$m-navbar-height-lg: 105px;

$m-color-primary: #f15d2a;
$m-color-secondary: #0b202f;
$m-color-secondary-1: #122531;
$m-color-secondary-2: #0a2135;
$m-color-sec-transparent: #122531fa;
$m-color-sec-transparent-light: #0f2939bf;

$m-color-text: #10181f;
$m-color-text-1: #475256;
$m-color-complementary: #abb6be;
$m-color-complementary-1: #d3e1e9;
$m-color-complementary-1-light: #d3e1e959;

$generic-font-family: Verdana, Geneva, Tahoma, sans-serif;

//Viewport size Breakpoints:
$sm: 567px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
